<!DOCTYPE html>
<html>
    <head>
        <!-- Link to Bootstrap & Raleway font -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>WebApp IDE - Login</title>
        <link rel="shortcut icon" type="image/x-icon" href="login-icon.png" />
        <link type="text/css" href="login.css" rel="stylesheet" />
    </head>
    <body> 
        <div class="container">

            <!-- Header -->
            <div class="page-header">
                <h1>WebApp IDE</h1>
            </div>
            <p><strong>WebApp IDE</strong> is an integrated development environment written with developers in mind.</p>
            <p>It allows developers to have a lightweight, simple place to write code without the resource-intensiveness of a desktop IDE.</p>
            <br />

            <!-- Login Form -->
            <h2>Login</h2>
            <br />
            <form action="" class="form-horizontal" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="username">Username:</label>
                    <div class="col-sm-10">
                        <input type="username" name="username" class="form-control" id="username" placeholder="Enter username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="password">Password:</label>
                    <div class="col-sm-10">          
                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
                    </div>
                </div>
                <div class="form-group">        
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" name="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </body>
</html>
